<main>
    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../assets/img/banner1.PNG" class="d-block w-100" alt="Banner1">
                </div>
                <div class="carousel-item">
                    <img src="../assets/img/banner2.PNG" class="d-block w-100" alt="Banner2">
                </div>
                <div class="carousel-item">
                    <img src="../assets/img/banner3.PNG" class="d-block w-100" alt="Banner3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>
    </section>

    <h2>Jogos em Promoção</h2>
    <mat-grid-list cols="3">
        <mat-grid-tile>
        <mat-card class="example-card" appearance="outlined">
            <img mat-card-image src="../assets/img/jogo1.PNG" alt="Jogo 1">
            <mat-card-header>
                <mat-card-title>Jogo Incrível</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Em "Nebulosa: Exploradores do Vazio", os jogadores assumem o papel de astronautas em uma missão para
                    explorar planetas desconhecidos. Não perca tempo e venha já conhecer esse game incrível através de nossa review.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <p>R$ 350,00</p>
                <button mat-button>Comprar</button>
            </mat-card-actions>
        </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card" appearance="outlined">
                <img mat-card-image src="../assets/img/jogo2.PNG" alt="Jogo 2">
                <mat-card-header>
                    <mat-card-title>Lançamento dos Clássicos</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Em "Super Mario: Reino das Estrelas", Mario embarca em uma nova aventura para salvar o reino de Bowser, que sequestrou as estrelas mágicas. Explore novos mundos, resolva puzzles e enfrente inimigos clássicos em uma jornada cheia de ação e diversão.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$ 250,00</p>
                    <button mat-button>Comprar</button>
                </mat-card-actions>
            </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="example-card" appearance="outlined">
                    <img mat-card-image src="../assets/img/jogo3.PNG" alt="Jogo 3">
                    <mat-card-header>
                        <mat-card-title>Hora de Shadow Forge</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Em "Shadow Forge", os jogadores forjam armas mágicas enquanto enfrentam criaturas das sombras em um mundo sombrio e medieval. A cada conquista, novas habilidades e materiais raros se revelam, ampliando o poder do herói e de seus amigos.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <p>R$ 150,00</p>
                        <button mat-button>Comprar</button>
                    </mat-card-actions>
                </mat-card>
                </mat-grid-tile>

    </mat-grid-list>

</main>